---
title: Blue Medora Nozzle for PCF Release Notes
owner: Partners
---

This documentation describes the Blue Medora Nozzle for Pivotal Cloud Foundry (PCF). The Blue Medora Nozzle for PCF is a service that runs on Pivotal Cloud Foundry (PCF) that collects metrics for the Loggregator Firehose and exposes them via a RESTful API.

## <a id='overview'></a>Overview

The Blue Medora Nozzle for Pivotal Cloud Foundry (PCF) includes the following key features:

* Automated configuration method for the Blue Medora Nozzle.
* Exposed metrics, via a RESTful API, for the Loggregator Firehose.
* Integration with Blue Medora's vRealize Operations Management Pack for Pivotal Cloud Foundry.

## <a id="snapshot"></a>Product Snapshot

<dl>
	<dt>Blue Medora Nozzle for PCF Details:</dt>
	<dd><strong>Version</strong>: v1.1.2 </dd>
	<dd><strong>Release Date</strong>: 29th November 2016</dd>
	<dd><strong>Software component version</strong>: 1.1.2</dd>
	<dd><strong>Compatible Ops Manager Version(s)</strong>: v1.7.x</dd>
	<dd><strong>Compatible Elastic Runtime Version(s)</strong>: v1.7.x</dd>
	<dd><strong>vSphere support?</strong> YES</dd>
	<dd><strong>OpenStack support?</strong> YES</dd>
	<dd><strong>AWS support?</strong> YES</dd>
</dl>


## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to Blue Medora Customer Support(mailto:support@bluemedora.com).


