---
title: Blue Medora Nozzle for VMware Tanzu
owner: Partners
---

This documentation describes the Blue Medora Nozzle for VMware Tanzu. 
The Blue Medora Nozzle for VMware Tanzu is a service that collects metrics for the Loggregator Firehose and exposes them using a RESTful API.

## <a id='overview'></a>Overview

The Blue Medora Nozzle for VMware Tanzu includes the following key features:

* Automated configuration method for the Blue Medora Nozzle
* Exposed metrics, using a RESTful API, for the Loggregator Firehose
* Integration with Blue Medora's vRealize Operations Management Pack for VMware Tanzu

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Blue Medora Nozzle for VMware Tanzu:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v4.0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 16, 2020</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v4.0.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.5.x, 2.6.x, 2.7.x, 2.8.x, 2.9.x</td>
    </tr>
    <tr>
        <td>Compatible Tanzu Application Services (TAS)* version(s)</td>
        <td>v2.5.x, 2.6.x, 2.7.x, 2.8.x, 2.9.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
</table>



## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to [Blue Medora Customer Support](mailto:support@bluemedora.com).
