---
title: Blue Medora Nozzle for PCF Release Notes
owner: Partners
---

This documentation describes the Blue Medora Nozzle for Pivotal Cloud Foundry (PCF). 
The Blue Medora Nozzle for PCF is a service that collects metrics for the Loggregator Firehose and exposes them using a RESTful API.

## <a id='overview'></a>Overview

The Blue Medora Nozzle for PCF includes the following key features:

* Automated configuration method for the Blue Medora Nozzle
* Exposed metrics, using a RESTful API, for the Loggregator Firehose
* Integration with Blue Medora's vRealize Operations Management Pack for PCF

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Blue Medora Nozzle for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v2.0.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 19, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v2.0.2</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x, 1.11.x, and 1.12.x </td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.8.x, v1.9.x, v1.10.x, 1.11.x, and 1.12.x, </td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list 
or send an email to [Blue Medora Customer Support](mailto:support@bluemedora.com).
