---
title: Installing and Configuring the Blue Medora Nozzle for VMware Tanzu
owner: Partners
---

This topic describes how to install and configure the Blue Medora Nozzle for VMware Tanzu.

1. Download the product file from the Pivotal Network.

2. Upload the product file using the Ops Manager Installation Dashboard.

3. Click **Add** next to the uploaded Blue Medora Nozzle for VMware Tanzu tile in the Ops Manager **Available Products** view to add it to your staging area.

4. Click the newly added **Blue Medora Nozzle for VMware Tanzu** tile.

5. From the **Settings** tab, click **Nozzle**.

  ![alt-text=""](images/nozzle_properties.png)

  Complete the following fields:

  * **Subscription ID:** The subscription ID of the nozzle. To find out more about subscription IDs and nozzle scaling, refer to the [Scaling Nozzles](https://docs.pivotal.io/pivotalcf/loggregator/log-ops-guide.html#scaling-nozzles) section of the _Loggregator Guide for Cloud Foundry Operators_ topic.

    <p class="note"><strong>Note</strong>: Check the <strong>Insecure SSL Skip Verify</strong> box if you are not using SSL.</p>

  * **Firehose Idle Timeout Seconds:** The amount of time, in seconds, that the connection to the Firehose can be idle before disconnecting.

  * **Metric Cache Duration:** The amount of time, in seconds, that the RESTful API web server will cache metric data. The higher this duration, the less likely the data will be correct for a certain metric as it could hold stale data.

  * **Optional: RLP URL Override:** Override the automatically detected URL for the Reverse Log Proxy.

1. Click **Save**.

2. From the **Settings** tab, click **UAA Client**.

  ![alt-text=""](images/uaa_client_properties.png)

  Complete the following fields:

    * **UAA User:** UAA client that has access to read from the Loggregator Firehose.

    * **UAA Password:** The password associated with the UAA client.

      <p class="note"><strong>Note</strong>: Check the <strong>Disable Access Control</strong> box if you do not want Access Control enabled.</p>

1. Click **Save**.

2. Return to the Ops Manager Installation Dashboard, then click **Apply Changes** to install the Blue Medora Nozzle for VMware Tanzu tile.
