---
title: Using the Blue Medora Nozzle for PCF
owner: Partners
---

This topic describes how to use the Blue Medora Nozzle for PCF.

##<a id='using'></a> Using the Blue Medora Nozzle for PCF

Once the Blue Medora Nozzle for PCF has been configured, you can connect to it on `bluemedora-nozzle.<your pcf domain>`.
